<?xml version="1.0" encoding="UTF-8"?>
<!--web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"-->
<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
<display-name>RRHH</display-name>
    <error-page>
        <exception-type>
            java.lang.Exception
        </exception-type>
        <location>
            /errorPage.jsp
        </location>
    </error-page>
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>Controlador.UsuarioControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmpresaControlador</servlet-name>
        <servlet-class>Controlador.EmpresaControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresaControlador</servlet-name>
        <url-pattern>/EmpresaControlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProyectoControlador</servlet-name>
        <servlet-class>Controlador.ProyectoControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProyectoControlador</servlet-name>
        <url-pattern>/ProyectoControlador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarcadorControlador</servlet-name>
        <servlet-class>Controlador.MarcadorControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarcadorControlador</servlet-name>
        <url-pattern>/MarcadorControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
