<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
<display-name>RRHH</display-name>
    <error-page>
        <exception-type>
            java.lang.Exception
        </exception-type>
        <location>
            /errorPage.jsp
        </location>
    </error-page>
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>Controlador.UsuarioControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
